<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | StudySpace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="center jumbotron">
	  <br>
	  <br>
	  <br>
	  <br>
	  <div class="col s12 heading">
	    <h1>Welcome to Study<span class="spaceColor">Space</span>!</h1>
	  </div>
	  <br>
	  <br>
	  <br>
	  <br>
	  	<% if logged_in? %> 
  			<div class="loginBtn">
	  		<%= link_to "Find Study Groups!", current_user, class: " btn-large btn-primary" %>
	  	  </div> 
		<% else %>
		  <div class="loginBtn">
	  		<%= link_to "Sign up now!", '/signup', class: " btn-large btn-primary" %>
	  	  </div>  
		<% end %>


	<% if false %>
		<%= link_to image_tag("rails.png", alt: "Rails logo"),
	            'http://rubyonrails.org/' %>
	<% end %>
  </body>
</html>