h1{
  text-align: center;
}
html{
  overflow: auto;
}
body{
  background: white;
}
.container{
  margin-bottom: 20px;
}

#register_Btn{
  float: right;
}
.register{
  background-color:white;
  padding-top: 15px;
  padding-bottom: 1px;
}
.register h2{
  font-size: 20px;
  text-align: center;
  font-style: italic;
  text-align: center;
  color: #80cbc4;
  letter-spacing: .2em;
  font-style: italic;

}
#signin{
  font-size: 10px;
  text-align: center;
}
#register{
  font-size: 10px;
  text-align: center;
}

.loginBtn{
  text-align: center;
  font-size: 15px;
}
.regBtn{
  text-align: center;
  font-size: 15px;
}
