<html>
<head>

  <title>StudySpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link type="text/css" rel="stylesheet" href="assets/stylesheets/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

  <!-- jQuery is required by Materialize to function -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });
  </script>
  <div class="col s12 heading">
    <h1>StudySpace</h1>
  </div>
  <div class="login container z-depth-4">
    <div class="container">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail</i>
            <input id="email" type="email" class="validate">
            <label for="email" data-error="Incorrect email format, please try again.">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="col s4 offset-s4">
            <form method="get" action="/assets/pages/register.html.erb">
              <button class="btn waves-effect waves-light col s12" id="login_Btn" type="submit" name="action"><%= link_to ' Login', search_path, class: 'button alt' %>
              <i class="material-icons right">send</i>
              </button>
            </form>
          </div>
        </div>
        <div class="row">
          <p id="register">Don't have an account?<%= link_to " Register!", register_path  %></p>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
