<html>
<head>

  <title>StudySpace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  <!-- jQuery is required by Materialize to function -->
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('select').material_select();
    });

  </script>
  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <%=image_tag("/images/bensonHan.jpg")%>
          <span class="card-title">Benson Han</span>
          </img>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="row">
          <div class="loginBtn">
            <div class="input-field col s12">
              <%= form_for(@user) do |f| %>
              <%= f.submit "Connect", class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
