<!DOCTYPE html>
<html>
	<head>
		<title> Course
		</title>
	</head>
	<body>
		<h1>
			<%= @course.name %>
		</h1>
		<p>
			<h4> Users in this class: </h4>
            <% (0..@course.users.length - 1).each do |i| %>
              <%=link_to(@course.users[i].name, user_path(@course.users[i].id)) %>
              <br></br>
            <% end %>
		</p>
</body>
</html>