<header class="top-nav">
<style>    
      nav ul li a{
        color: white;
      }    
    </style>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <nav>
      <div class="nav-wrapper teal lighten-2 " id="logo" >
        <ul class="right hide-on-med-and-down">
          <li><%= link_to "Home",   '/' %></li>
          <li><%= link_to "Log in", '/home' %></li>
          <!--<li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li class="active"><a href="collapsible.html">JavaScript</a></li>-->
        </ul>
      </div>
    </nav>
  </div>

</header>

